.jumbotron {    
    background: linear-gradient(0deg, rgba(31, 37, 37,0.0), rgba(31, 37, 37,0.5)), url(https://images.unsplash.com/photo-1485550409059-9afb054cada4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60) no-repeat 100% 30%;    
    background-size:cover;
    height: 40vh;
}