<!-- stylesheets -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-lg">
    <div class="container" style="width:600px;">
        <h1 class="head"><a class="navbar-brand" href="/" style=" font-size:80px; color: white;">Soi</a></h1>        
    </div>
    <button class="navbar-toggler" type="button" style="background-color:white" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars fa-2x" style="color: #FFC300; font-size: 20px;"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto" style=" text-align: center;">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sign up</a>
            </li>
        </ul>
        <span class="navbar-text">
            Where we build each other
        </span>
    </div>
