<!-- stylesheets -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-lg">
    <div class="container" style="width:600px;">
        <h1 class="head"><a class="navbar-brand" href="/" style=" font-size:80px; color: white;">Soi</a></h1>        
    </div>
    <button class="navbar-toggler" type="button" style="background-color:white" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars fa-2x" style="color: #FFC300; font-size: 20px;"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto" style=" text-align: center;">
            {% if current_user.is_authenticated %}
            <li class="nav-item active">
                {{current_user.username}}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.logout')}}">Sign out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.login')}}">Sign in</a>
            </li>
            {%endif%}
        </ul>
        <span class="navbar-text">
            Where we build each other
        </span>
    </div>
    
    <!-- Navbar styling-->
    <style>
        .navbar {
            background-color: #FFC300;
        }          
        .nav-item {
            padding: 5px;
        }  
        .nav-link {
            background-color:#FD9514;
        }
        .head {                               
            font-family:  'Abril Fatface', serif;                
            text-shadow: 4px 4px 4px #aaa;                
        }
        .nav-link {
            font-family:'Times New Roman', Times, serif;
            color: black;
            font-size: 20px;            
        }
    </style>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  
